body {
  background-image: url('../images/foodBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: auto 0;
  padding: 0;
}

.headerRow {
  background-color: #5BA7FF;
  height: 168px;
}

.logo {
  margin-top: 20px;
}

.tagline {
  margin-top: 6px;
  color: black;
  font-size: 24px;
}

.hamburger {
  margin-top: 120px;
}

.login {
    background-color: #5BA7FF;
    border: none;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
}

.signup {
    background-color: white;
    border: 1px solid black;
    border-radius: 14px;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.loginSignup {
  margin-top: 105px;
}

.searchbar {
	color: black;
  font-size: 24px;
	text-align: center;
	cursor: pointer;
	display: block;
  height: 48px;
  border-radius: 24px;
	width: 100%;
	letter-spacing: 2px;
	word-spacing: 0px;
  margin-top: 168px;
}

.toggleButtons {
  margin-top: 42px;
}

.menuItem {
    background-color: #5BA7FF;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

.restaurant {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.mostRecentCol {
  padding: 0;
}

.indexTemp {
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  height: 700px;
  margin-top: 42px;
  border-radius: 10px;
}

.footerRow {
  background-color: rgba(192,192,192,0.8);
  height: 56px;
  margin-top: 84px;
}

.copyright {
  margin-top: 16px;
  color: black;
  font-size: 20px;
=======
img {
  max-width: 100%;
  max-height: auto;
}

#results {
  position: relative;
  left: 255px;
}

#searchBar {
  position: relative;
  left: 375px;
  display: inline-flex;
}

.logBtns {
  position: relative;
  top: 8px;
}

footer {
  position: relative;
  left: 550px;
}

.navbar {
height: 250px;
}

h1 {
  color: white;
  position: relative;
  bottom: 225px;
  left: 450px;
}

h3 {
  color: white;
  position: relative;
  bottom: 225px;
  left: 320px;
}

.row {
  position: relative;
  bottom: 225px;
  right: 30px;
}

.col-sm-6 {
  position: relative;
  bottom: 100px;
}
